<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    <ComponentGroup Id="ExcelPayload" Directory="ExcelFolder">
      <Component Id="ExcelMainAssembly" Guid="{745159F2-6077-45F9-A586-B539D8ECA6FC}" Bitness="always64">
        <File Id="ExcelDll" Source="$(PayloadRoot)\Excel\eWorkhelper.dll" KeyPath="yes" />
      </Component>
      <Component Id="ExcelDeploymentManifest" Guid="{6387B1C7-4458-44CE-B397-2D38FE33DE19}" Bitness="always64">
        <File Id="ExcelVsto" Source="$(PayloadRoot)\Excel\eWorkhelper.vsto" KeyPath="yes" />
      </Component>
      <Component Id="ExcelApplicationManifest" Guid="{1BCF281F-C9BF-42C8-A490-8782F5E3E460}" Bitness="always64">
        <File Id="ExcelDllManifest" Source="$(PayloadRoot)\Excel\eWorkhelper.dll.manifest" KeyPath="yes" />
      </Component>
      <Component Id="ExcelVstoUtilities" Guid="{677F8EFF-0EB2-4610-8F5F-C714E415855E}" Bitness="always64">
        <File Id="ExcelUtilitiesDll" Source="$(PayloadRoot)\Excel\Microsoft.Office.Tools.Common.v4.0.Utilities.dll" KeyPath="yes" />
      </Component>
    </ComponentGroup>
  </Fragment>
  <Fragment>
    <Component Id="ExcelRegistration" Directory="ExcelFolder" Guid="{7CBAB72F-7A7E-4912-A9AE-DFA10B58EA92}" Bitness="always64">
      <RegistryKey Root="HKMU" Key="Software\Microsoft\Office\Excel\Addins\eWorkhelper">
        <RegistryValue Name="Description" Type="string" Value="!(loc.ExcelAddinDescription)" />
        <RegistryValue Name="FriendlyName" Type="string" Value="eWorkHelper" />
        <RegistryValue Name="LoadBehavior" Type="integer" Value="3" />
        <RegistryValue Name="Manifest" Type="string" Value="file:///[ExcelFolder]eWorkhelper.vsto|vstolocal" KeyPath="yes" />
      </RegistryKey>
    </Component>
  </Fragment>
</Wix>
