<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Fragment>
    <util:RegistrySearch Id="WindowsInstallationTypeSearch" Variable="WindowsInstallationType"
                         Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion"
                         Value="InstallationType" Result="value" Bitness="always64" />
    <util:RegistrySearch Id="WindowsBuildSearch" Variable="WindowsCurrentBuild"
                         Root="HKLM" Key="SOFTWARE\Microsoft\Windows NT\CurrentVersion"
                         Value="CurrentBuildNumber" Result="value" Bitness="always64" />
    <util:RegistrySearch Id="NetFrameworkReleaseSearch" Variable="NetFrameworkRelease"
                         Root="HKLM" Key="SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full"
                         Value="Release" Result="value" Bitness="always64" />
    <util:RegistrySearch Id="VstoRuntimeVersionSearch" Variable="VstoRuntimeVersion"
                         Root="HKLM" Key="SOFTWARE\Microsoft\VSTO Runtime Setup\v4R"
                         Value="Version" Result="value" Bitness="always64" />
    <util:RegistrySearch Id="VstoRuntimeVersion32Search" Variable="VstoRuntimeVersion32"
                         Root="HKLM" Key="SOFTWARE\Microsoft\VSTO Runtime Setup\v4R"
                         Value="Version" Result="value" Bitness="always32" />
    <util:RegistrySearch Id="Office64PathSearch" Variable="Office64Path"
                         Root="HKLM" Key="SOFTWARE\Microsoft\Office\16.0\Common\InstallRoot"
                         Value="Path" Result="value" Bitness="always64" />
    <util:RegistrySearch Id="OfficeClickToRunPlatformSearch" Variable="OfficePlatform"
                         Root="HKLM" Key="SOFTWARE\Microsoft\Office\ClickToRun\Configuration"
                         Value="Platform" Result="value" Bitness="always64" />
  </Fragment>
</Wix>
